
.icon-location:before { content: '\e800'; } /* '' */
.icon-rain:before { content: '\e801'; } /* '' */
.icon-wind:before { content: '\e802'; } /* '' */
.icon-water:before { content: '\e803'; } /* '' */
.icon-gauge:before { content: '\e804'; } /* '' */
